{% capture social_links %}
  {% if site.email %}
    <a href="mailto:{{ site.email | encode_email }}" title="email">Email</a>
  {% endif %}
  {% if site.telegram_username %}
    <a href="https://telegram.me/{{ site.telegram_username }}" title="telegram">Telegram</a>
  {% endif %}
  {% if site.whatsapp_number %}
    <a href="https://wa.me/{{ site.whatsapp_number }}" title="whatsapp">WhatsApp</a>
  {% endif %}
  {% if site.orcid_id %}
    <a href="https://orcid.org/{{ site.orcid_id }}" title="ORCID">ORCID</a>
  {% endif %}
  {% if site.scholar_userid %}
    <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar">Scholar</a>
  {% endif %}
  {% if site.inspirehep_id %}
    <a href="https://inspirehep.net/authors/{{ site.inspirehep_id }}" title="Inspire HEP">Inspire HEP</a>
  {% endif %}
  {% if site.semanticscholar_id %}
    <a href="https://www.semanticscholar.org/author/{{ site.semanticscholar_id }}" title="Semantic Scholar">Semantic Scholar</a>
  {% endif %}
  {% if site.publons_id %}
    <a href="https://publons.com/a/{{ site.publons_id }}/" title="Publons">Publons</a>
  {% endif %}
  {% if site.lattes_id %}
    <a href="http://lattes.cnpq.br/{{ site.lattes_id }}" target="_blank" title="Lattes">Lattes</a>
  {% endif %}
  {% if site.osf_id %}
    <a href="https://osf.io/{{ site.osf_id }}/" title="Open Science Framework">Open Science Framework</a>
  {% endif %}
  {% if site.research_gate_profile %}
    <a href="https://www.researchgate.net/profile/{{site.research_gate_profile}}/" title="ResearchGate">ResearchGate</a>
  {% endif %}
  {% if site.ieee_id %}
    <a href="https://ieeexplore.ieee.org/author/{{site.ieee_id}}/" title="IEEE Xplore">IEEE Xplore</a>
  {% endif %}
  {% if site.acm_id %}
    <a href="https://dl.acm.org/profile/{{site.acm_id}}/" title="ACM DL">ACM DL</a>
  {% endif %}
  {% if site.scopus_id %}
    <a href="https://www.scopus.com/authid/detail.uri?authorId={{site.scopus_id}}" title="Scopus">Scopus</a>
  {% endif %}
  {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}" title="GitHub">GitHub</a>
  {% endif %}
  {% if site.linkedin_username %}
    <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">LinkedIn</a>
  {% endif %}
  {% if site.x_username %}
    <a href="https://twitter.com/{{ site.x_username }}" title="X">X (Twitter)</a>
  {% endif %}
  {% if site.mastodon_username %}
    <a rel="me" href="https://{{ site.mastodon_username  }}" title="Mastodon">Mastodon</a>
  {% endif %}
  {% if site.medium_username %}
    <a href="https://medium.com/@{{ site.medium_username }}" title="Medium">Medium</a>
  {% endif %}
  {% if site.quora_username %}
    <a href="https://www.quora.com/profile/{{ site.quora_username }}" title="Quora">Quora</a>
  {% endif %}
  {% if site.flickr_id %}
    <a href="https://www.flickr.com/{{ site.flickr_id }}" title="Flickr">Flickr</a>
  {% endif %}
  {% if site.blogger_url %}
    <a href="{{ site.blogger_url }}" title="Blogger">Blogger</a>
  {% endif %}
  {% if site.work_url %}
    <a href="{{ site.work_url }}" title="Work">Work</a>
  {% endif %}
  {% if site.wikidata_id %}
    <a href="https://www.wikidata.org/wiki/{{ site.wikidata_id }}" title="Wikidata">Wikidata</a>
  {% endif %}
  {% if site.wikipedia_id %}
    <a href="https://wikipedia.org/wiki/User:{{ site.wikipedia_id }}" title="Wikipedia">Wikipedia</a>
  {% endif %}
  {% if site.strava_userid %}
    <a href="https://www.strava.com/athletes/{{ site.strava_userid }}" title="Strava">Strava</a>
  {% endif %}
  {% if site.keybase_username %}
    <a href="https://keybase.io/{{ site.keybase_username }}" title="Keybase">Keybase</a>
  {% endif %}
  {% if site.gitlab_username %}
    <a href="https://gitlab.com/{{ site.gitlab_username }}" title="GitLab">GitLab</a>
  {% endif %}
  {% if site.dblp_url %}
    <a href="{{ site.dblp_url }}" title="DBLP">DBLP</a>
  {% endif %}
  {% if site.stackoverflow_id %}
    <a href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}" title="Stackoverflow">Stack Overflow</a>
  {% endif %}
  {% if site.kaggle_id %}
    <a href="https://www.kaggle.com/{{ site.kaggle_id }}" title="Kaggle">Kaggle</a>
  {% endif %}
  {% if site.lastfm_id %}
    <a href="https://www.last.fm/user/{{ site.lastfm_id }}" title="Last FM">Last FM</a>
  {% endif %}
  {% if site.spotify_id %}
    <a href="https://open.spotify.com/user/{{ site.spotify_id }}" title="Spotify">Spotify</a>
  {% endif %}
  {% if site.pinterest_id %}
    <a href="https://www.pinterest.com/{{ site.pinterest_id }}" title="Pinterest">Pinterest</a>
  {% endif %}
  {% if site.unsplash_id %}
    <a href="https://unsplash.com/@{{ site.unsplash_id }}" title="Unsplash">Unsplash</a>
  {% endif %}
  {% if site.instagram_id %}
    <a href="https://instagram.com/{{ site.instagram_id }}" title="Instagram">Instagram</a>
  {% endif %}
  {% if site.facebook_id %}
    <a href="https://facebook.com/{{ site.facebook_id }}" title="Facebook">Facebook</a>
  {% endif %}
  {% if site.bluesky_url %}
    <a href="https://bsky.app/profile/{{ site.bluesky_url }}" title="Bluesky">Bluesky</a>
  {% endif %}
  {% if site.youtube_id %}
    <a href="https://youtube.com/@{{ site.youtube_id }}" title="YouTube">YouTube</a>
  {% endif %}
  {% if site.discord_id %}
    <a href="https://discord.com/users/{{ site.discord_id }}" title="Discord">Discord</a>
  {% endif %}
  {% if site.zotero_username %}
    <a href="https://www.zotero.org/{{ site.zotero_username }}" title="Zotero">Zotero</a>
  {% endif %}
  {% if site.rss_icon %}
    <a href="{{ site.baseurl }}/feed.xml" title="RSS Feed">RSS</a>
  {% endif %}
  {% if site.wechat_qr %}
    <a id="WeChatBtn" title="WeChat">WeChat</a>
    <div id="WeChatMod" class="wechat-modal">
      <img src="{{ site.wechat_qr | prepend: 'assets/img/' | relative_url }}" alt="WeChat QR" id="WeChatQR">
    </div>
    {% include scripts/wechatModal.liquid %}
  {% endif %}
{% endcapture %}

{% assign links_array = social_links | split: "</a>" %}
{% assign array_length = links_array | size %}

{% for link in links_array %}
  {% if forloop.index0 < 2 %}
    {{ link | append: "</a>" }} |
  {% else %}
    {{ link | append: "</a>" }}
  {% endif %}
{% endfor %}